header {
  box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: white;
  /* backdrop-filter: saturate(180%) blur(20px); */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 48px;
}

.header-logo-container {
  display: flex;
  align-items: center;
}

.image-logo-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: linear-gradient(to right, #43CEA2, #38B19F, #43CEA2, #3196b3);
  overflow: hidden;
  margin-right: 18px;
}

.image-logo-container img {
  width: 48px;
  height: auto;
  object-fit: cover;
}

.header-logo-container > a span {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 17px;
  cursor: pointer;

  transition: 0.2s;
}

.header-logo-container > a span:hover {
  color: #43CEA2;
}

.menu-hamb-icon,
.close-menu-hamb {
  display: none;
  font-size: 32px;
}

.header-navigation-items {
  display: flex;
  align-items: center;
}

.header-navigation-items > li a {
  padding: 20px 28px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 15px;

  transition: 0.2s;
}

.header-navigation-items > li a:hover {
  color: #43CEA2;
}

.language-container {
  padding: 12px 0;
  display: flex;
  align-items: center;
  margin-left: 28px;
  cursor: pointer;
  position: relative;
}

.language-container > svg {
  margin-right: 6px;
}

.languages-available-container {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
}

.language-container:hover .languages-available-container {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}

.languages-available-container > li {
  background: #fafafa;
  border-radius: 4px;
  box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);

  transition: 0.2s;
}

.languages-available-container > li:hover {
  filter: brightness(0.85);
}

.languages-available-container > li a {
  display: flex;
  align-items: center;
  padding: 16px 8px;
  width: 120px;
}

.languages-available-container > li a svg {
  margin-right: 6px;
}

.home-hero {
  background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url("/assets/hero-bg.svg");
  height: calc(100vh - 76px);
  margin-top: 76px;
  background-position: center;
}

.home-hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  max-width: 790px;
}

.heading-primary {
  font-size: 56px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 85px;
  color: #111;
}

.text-primary {
  margin: 28px 0 48px;
  font-size: 20px;
  line-height: 33px;
}

.home-hero-cta {
  padding: 16px 74px;
  font-size: 20px;
}

.home-hero-socials {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  padding: 6px;
  border-radius: 4px;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}

.home-hero-social {
  width: 48px;
  height: 48px;
  border-radius: 4px;

  transition: background 0.2s;
}

.home-hero-social:hover {
  background: rgba(67, 206, 162, 0.25);
}

.home-hero-social a {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home-hero-social a img {
  width: 100%;
  height: auto;
}

.home-hero-scroll-down {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.animation {
  width: 25px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}

.animation:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #333;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel {
  0% {
    top: 20%;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}


.about-me {
  background: #fafafa;
}

.heading-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.heading-container > h2 {
  font-size: 38px;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 56px;
  position: relative;
  margin-bottom: 36px;
}

.heading-container > h2:after {
  content: "";
  position: absolute;
  width: 28px;
  height: 5px;
  background: linear-gradient(to right, #43CEA2, #38B19F, #3196b3);
  left: 50%;
  transform: translateX(-50%);
  top: 128%;
  border-radius: 4px;
}

.heading-container > span {
  font-size: 19px;
  color: #555;
  line-height: 30px;
}

.body-container {
  margin-top: 84px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 94px;
}

.description-content,
.skills-content {
  margin-top: 28px;
}

.description-content > p {
  font-size: 17px;
  color: #666;
  line-height: 29px;
}

.description-content > p a.highlighted {
  color: #43CEA2;
}

.description-content > p+p {
  margin-top: 9px;
}

.description-cta {
  margin-top: 38px;
  font-size: 16px;
  line-height: 22px;
  padding: 14px 48px;
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.skills-content li {
  padding: 14px 20px;
  background: rgba(153,153,153,.2);
  border: 3px solid rgba(153,153,153,.2);
  border-radius: 4px;
  color: #666;
  font-size: 16px;
  font-weight: 600;

  transition: 0.2s
}

.skills-content li:hover {
  border-color: #43CEA2;
}


.projects-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-top: 100px;
}

.project-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.project-image-container {
  margin-bottom: auto;
}

.project-description {
  font-size: 18px;
  color: #666;
  line-height: 28px;
  margin: 16px 0;

  min-height: 84px;
}

.project-image {
  max-width: 100%;
  transition: 0.3s;
  box-shadow: 0 6px 10px rgb(0 0 0 / 36%);
}

.project-image:hover {
  transform: scale(1.06);
}

.project-links {
  margin: 16px 0;
  border: 1px solid #C5CFDC;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 40px;
}

.view-site-button {
  display: flex;
  justify-content: center;
  flex: 1;
  font-weight: 700;
  line-height: 40px;
  border-radius: 4px 0 0 4px;

  transition: 0.2s;
}

.view-site-button.under-dev {
  cursor: not-allowed;
  background-color: rgba(153,153,153,.2);
}

.view-site-button:not(.under-dev):hover {
  background: rgb(56, 177, 159);
  color: rgb(242, 242, 242);
}

.project-links a:last-of-type {
  display: flex;
  padding: 0 4px;
  border-left: 1px solid #C5CFDC;
  height: 40px;
  transition: 0.2s;
  border-radius: 0 4px 4px 0;
}

.github-icon {
  width: 24px;
  transition: 0.2s;
}

.project-links a:last-of-type:hover {
  background: black;
  border-radius: 4px;
}
.project-links a:last-of-type:hover .github-icon {
  fill: white;
}

.technologies-container {
  padding: 12px 6px;
  background: rgba(153,153,153,.2);
  border: 1px solid #C5CFDC;
  border-radius: 4px;
}


.contact {
  background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url("/assets/hero-bg.svg");
  background-position: center;
}

.contact-form-container {
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  background: #fff;
  padding: 38px;
  border-radius: 4px;
  max-width: 800px;
  margin: 48px auto 0;
}

.contact-form-field {
  margin-bottom: 36px;
}

.contact-form-label {
  display: block;
  color: #666;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-form-input {
  padding: 16px;
  width: 100%;
  border: 1px solid #ebebeb;
  background: #f0f0f0;
  border-radius: 4px;
  font-weight: 600;
}

textarea {
  resize: none;
}

.form-button {
  padding: 16px 46px;
  border: 0;
  margin-left: auto;
  display: flex;
}


footer {
  /* background: #000; */
  background-color: #262626;
  color: #fff
}

.footer-container {
  padding-bottom: 0;
}

.footer-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;
}

.personal-info {
  width: 54%;
}

.personal-info p {
  color: #eee;
  line-height: 22px;
}

.social-container {
  display: flex;
  align-items: center;
}

.social-container a {
  display: flex;
}

.social-container a+a {
  margin-left: 12px;
}

.social-container img {
  width: 24px;
  height: auto;
}

.footer-lower {
  border-top: 1px solid #444;
  color: #eee;
  padding: 32px 0;
  display: flex;
  justify-content: center;
}

.footer-lower span {
  font-size: 14px;
}

.footer-lower span b {
  text-decoration: underline;
}


.title-footer {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 16px;
  display: block;
}


.back-to-top-button {
  position: fixed;
  bottom: 16px;
  right: 24px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-container {
  opacity: 0;
  visibility: hidden;
  
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  transition: 0.2s;
}
.overlay-container.active {
  opacity: 1;
  visibility: visible;

  transition: 0.2s;
}


/* Responsive */

@media screen and (max-width: 1080px) {
  .project-description {
    min-height: 112px;
  }
}

@media screen and (max-width: 980px) {
  .header-content {
    padding-left: 18px;
    padding-right: 18px;
  }

  .header-navigation-items > li a {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
  }

  .language-container {
    margin-left: 16px;
  }

  .languages-available-container {
    right: -4px;
  }
}

@media screen and (max-width: 900px) {
  .heading-primary {
    line-height: 74px;  
  }

  .home-hero-socials {
    display: none;
  }

  .body-container,
  .projects-content {
    grid-template-columns: 1fr;
  }

  .project-description {
    min-height: unset;
  }

  .view-site-button:not(.under-dev) {
    background: rgb(56, 177, 159);
    color: rgb(242, 242, 242);
  }

  .project-links a:last-of-type {
    background: black;
    border-left: none;
  }
  .github-icon {
    fill: white;
  }
}

@media screen and (max-width: 760px) {
  .menu-hamb-icon {
    display: block;
  }
  .menu-hamb-icon.d-none {
    display: none;
  }
  .close-menu-hamb.d-block {
    display: block;
  }

  .header-navigation-items {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    flex-direction: column;
    background: #fff;
    align-items: end;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 5px 5px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);

    transition: 0.2s;
  }
  .header-navigation-items.show {
    visibility: visible;
    opacity: 1;
  }

  .header-navigation-items > li {
    width: 100%;
    text-align: end;
    border-top: 1px solid #eee;
  }

  .header-navigation-items > li a {
    display: block;
    width: 100%;
    padding: 25px 22px;
  }

  .language-container {
    padding: 22px;
    border-top: 1px solid #eee;
    width: 100%;
    margin-left: 0;
    justify-content: flex-end;
  }

  .heading-primary {
    font-size: 52px;
  }

  .back-to-top-button {
    right: 18px;
    bottom: 18px;
  }
}

@media screen and (max-width: 600px) {
  .heading-primary {
    font-size: 40px;
    line-height: 58px;
  }

  .text-primary {
    font-size: 18px;
    line-height: 28px;
  }

  .main-container {
    padding: 71px 0;
  }

  .heading-container > h2 {
    font-size: 35px;
    margin-bottom: 32px;
  }
  .heading-container > h2:after {
    top: 118%;
  }

  .heading-container > span {
    font-size: 16px;
    line-height: 25px;
  }

  .body-container {
    margin-top: 71px;
    gap: 71px;
  }

  .subtitle {
    font-size: 22px;
  }

  .description-cta,
  .form-button {
    /* width: 100%; */
    text-align: center;
    justify-content: center;
  }

  .projects-content {
    margin-top: 71px;
  }

  .project-description {
    font-size: 16px;
    line-height: 24px;
    margin: 12px 0;
  }

  .footer-container {
    padding-top: 52px;
    padding-bottom: 0;
  }

  .footer-upper {
    flex-direction: column;
    align-items: flex-start;
  }

  .personal-info {
    width: 100%;
    margin-bottom: 44px;
  }

  .personal-info p {
    font-size: 14px;
    line-height: 20px;
  }

  .social-container img {
    width: 26px;
  }

  .social-container a+a {
    margin-left: 18px;
  }
}